$white: #FFFFFF;
$grey: #EEEEEE;
$darkblue: #042235;
$darkgrey: #1A1919;
$lightgrey: #E3E3E3;
$black: #000000;
$blue: #0096FF;
$mint: #40D2BF;
$icongrey: #A4A6A8;
$timesgrey: #999999;
$cardgrey: #444444;
$bordercolor: #E4E7EC;
$descolor: #565656;
$cardbackground: #EBEEF2;
$error: #B00020;
$minthover: #018786;